Part 8 - Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/.DS_Store
/Part 8 - Deep Learning/Volume 1 - Supervised Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/dataset/*
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 4 - Self Organizing Maps (SOM)/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 4 - Self Organizing Maps (SOM)/Section 15 - SOM Intuition/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 4 - Self Organizing Maps (SOM)/Section 16 - Building a SOM/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 5 - Boltzmann Machines (BM)/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 5 - Boltzmann Machines (BM)/Section 18 - Boltzmann Machines Intuition/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 5 - Boltzmann Machines (BM)/Section 19 - Building a Boltzmann Machine/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 6 - AutoEncoders (AE)/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 6 - AutoEncoders (AE)/Section 21 - AutoEncoders Intuition/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/Part 6 - AutoEncoders (AE)/Section 22 - Building an AutoEncoder/.DS_Store
Part 8 - Deep Learning/Volume 2 - Unsupervised Deep Learning/.DS_Store
/Part 8 - Deep Learning/Volume 1 - Supervised Deep Learning/Section 40 - Convolutional Neural Networks (CNN)/Bilkav/veriler/*
Part 7 - Natural Language Processing/HakanCebeci/2- word2vec/hurriyet.txt
Part 7 - Natural Language Processing/HakanCebeci/3- Glove/glove.6B.100d.txt
Part 7 - Natural Language Processing/HakanCebeci/3- Glove/glove.6B.100d.word2vec
Part 7 - Natural Language Processing/HakanCebeci/4- Sentiment Analysis/Sent-analysis-diag.png
Part 7 - Natural Language Processing/HakanCebeci/4- Sentiment Analysis/hepsiburada.csv
Part 7 - Natural Language Processing/HakanCebeci/5- Makine Çevirisi/glove.6B.100d.txt
Part 7 - Natural Language Processing/HakanCebeci/5- Makine Çevirisi/nmt-diag.png
Part 7 - Natural Language Processing/HakanCebeci/6- Image Captioning/glove.6B.100d.txt
Part 7 - Natural Language Processing/HakanCebeci/6- Image Captioning/imcap-diag.png
Part 7 - Natural Language Processing/HakanCebeci/6- Image Captioning/images/1.jpg
Part 7 - Natural Language Processing/HakanCebeci/6- Image Captioning/images/2.jpg
Part 7 - Natural Language Processing/HakanCebeci/6- Image Captioning/images/3.jpg
Part 7 - Natural Language Processing/HakanCebeci/5- Makine Çevirisi/tur.txt
